/* Import CSS rules for rendering Material Icons */
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    padding: 0;
    margin: 0;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Force uniform property values for all browser types */
* {
    padding: 0;
    margin: 0;   
}

form {
    padding: 10px;
    border: 1px solid red;
    margin: 0 auto;
    
}

/* Using float:right reverses the order of li content so 
    display set to inline and text-align set to right 
    This shifts li content to the right side of screen*/
nav ul.top-nav {
    padding: 0;
    margin: 0; 
    list-style-type: none;
    overflow: hidden;
    text-align: right;
}

.top-nav li {
    display: inline;
}

.top-nav li a {
    padding: 5px 5px;
    font-size: 1em;
    margin-right: 5px;
}

#icon {
    padding: 5px 5px;
    margin-right: 5px;
}

#sign-in {
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px;
    
    background-color: royalblue;
    color: white;
    text-align: center;
}

#sign-in:hover {
    box-shadow: 2px;
}

main{
    padding: 100px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
   
    margin-bottom: 20px;
}

.search {
    margin-bottom: 30px;
    width: 100%;
    background-color: aqua;
}

.search-bar {
    display: inline-block;
    width: 200px;
    
}

#search-item {
    width: 20%;
    margin: 0 auto 30px;
    

    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8em;
    
}

 #search-item-1, #search-item-2{
    padding: 5px;
    width: 120px;
    justify-self: center;
} 

p a {
    margin-right: 5px;
}

#location {
    
    text-align: left;
}

nav ul.bottom-nav {
    padding: 0;
    margin: 0; 
    list-style-type: none;
    overflow: hidden;
}