/* Force uniform property values for all browser types */
* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: auto;
    box-sizing: border-box;
    position: relative;
    border: 1px solid red;
    margin: 0 auto;

    font-family: Arial, Helvetica, sans-serif;
    
}

/* navbar styles*/

/* Using float:right reverses the order of li content so 
    display set to inline and text-align set to right 
    This shifts li content to the right side of screen*/

header nav {
    margin: 5px;
    font-size: 0.8em;
}

nav ul.top-nav {
    padding: 0;
    margin: 0; 
    list-style-type: none;
    overflow: hidden;
    text-align: right;
}

.top-nav li {
    display: inline-block;
    
}

.top-nav li a { 
    margin: 0 5px 0 5px;
    font-size: 1em;
    color: rgba(0,0,0,0.87);
}

#icon {
    position: absolute;
    top: 4px;
    right: 105px;
    
    margin: 10px;
    color: rgba(0,0,0,1);
    
}

#sign-in {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    margin-left: 55px;
    
    background-color: royalblue;
    color: white;
    text-align: center;
}

#sign-in:hover {
    box-shadow: 2px;
}

/* searchbar styles*/

main{
    margin: 30px auto 50px;
    display: block;
    justify-content: center;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#logo {
    height: auto;
    max-height: 100%;
    width: 100%;
    max-width: 300px;
    margin: 5px auto 20px;
}

.search {
    margin-bottom: 30px;
    
}

#search-bar {
    display: block;
    height: 43px;
    width: 100%;
    max-width: 530px;
    margin: auto;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    box-shadow: rgb();

    /*color: #222;*/
}

/* Using grid*/
#search-item {
    width: 20%;
    margin: 0 auto 30px;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8em;
    
}

 #search-item-1, #search-item-2{
    padding: 5px;
    width: 120px;
    justify-self: center;
    align-self: center;
} 

.button {

}

#offer {
    font-size: 0.8em;
}

#lang {
    margin-right: 5px;
    color: #1a0dab
}

/* footer styles*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-left: 5px;
    background-color: rgb(235, 235, 235);
}

#location {
    padding: 15px;
    margin-left: 10px;
    text-align: left;
}

section.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding: 10px;
}

.container{
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: row;
   
}

nav ul.bottom-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.bottom-nav li {
    display: inline-block;
}

.bottom-nav a, .bottom-nav span {
    padding: 10px;
    width: auto;
    font-size: 0.9em;
}




@media screen and (min-width: 320px) {
    

@media screen and (min-width: 576px) {
    #link-zero {
        display: none;
    }
}

@media screen and (width: 1200px) {
    
}